/* Overrides for footer.css */
#footer_logo {
  background-image: url('/dev/skins/rsmart/images/footer_logo_ucoa.png') !important;
  width: 110px !important;
  height: 65px !important;
}

/* Overrides for institutionalskinning.css */
.institutionalskinning_widget #institutionalskinning_logo {
  background-image: url('/dev/skins/rsmart/images/header_logo_ucoa.png') !important;
}

.institutionalskinning_widget #institutionalskinning_logo {
  background: url("/dev/skins/rsmart/images/header_logo_ucoa.png") no-repeat scroll left center #FFE76C !important;
  height:108px !important;
}

/* Toolbar */
.s3d-navigation-container {
    background: #005982 !important;
    background: -moz-linear-gradient(top, #005982 0%, #1f1f1f 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005982), color-stop(100%,#1f1f1f)) !important;
    background: -webkit-linear-gradient(top, #005982 0%,#1f1f1f 100%) !important;
    background: -o-linear-gradient(top, #005982 0%,#1f1f1f 100%) !important;
    background: -ms-linear-gradient(top, #005982 0%,#1f1f1f 100%) !important;
    background: linear-gradient(top, #005982 0%,#1f1f1f 100%) !important;
    -moz-box-shadow: 0 -5px 9px 6px #555555;
    -webkit-box-shadow: 0 -5px 9px 6px #555555;
    box-shadow: 0 -5px 9px 6px #555555;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    z-index: 999;
}
